.main-container
  height: 100%

  .calendar-container
    height: 200
    margin-right: 10px
    margin-left: 10px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: stretch
    border: 1px solid $blue
