.notes-container
  height: 100%

  .group-nav
    height: 100%
    .columns
      height: 100%

      >.column
        height: 100%
        &.is-2
          border-right: 2px solid $grey-lightest

          .note-group
              display: flex
              align-items: center

          .new-button
            position: absolute
            bottom: 5px
            width: 210px
