.notification-center
  margin-top: 65px
  position: fixed
  right: 0
  top: 0
  z-index: 1

  .notification
    margin-top: 10px

    .snoozeIcon
      margin-left: 5px

    .notification-buttons
      display: block
      margin-top: 5px

      .button
        margin-left: 5px

      .snooze
        width: 50px
