.todo-container
  overflow-wrap: break-word
  display: block

  .button-container
    overflow-wrap: break-word

  .due-date-container
    margin-left: 20px

  .todo-edition-form
    display: flex
    max-width: 120px

    .date-picker-input
      max-width: 100px
      margin-left: 10px
