.TodoList
  margin-right: 50px

  h2
    color: black

  li
    margin-top: 10px
    margin-left: 10px

  button
    margin-left: 10px

  p
    margin-left: 20px

.card
  margin-right: 20px
  margin-top: 20px
  width: auto

.card-content
  text-align: left
