.todo-list-card
  @extend .card
  border-radius: 10px
  margin-right: 30px
  min-height: 500px
  max-height: 500px
  overflow-y: auto
  max-width: 300px
  min-width: 300px

  li
    margin-top: 10px
    margin-left: 20px

  button
    margin-left: 10px

  p
    margin-left: 20px

  .placeholder
    position: absolute
    top: 40%
    left: 40px
    opacity: 0.4
